
.container {
	max-width:700px;
	width:100%;
	margin:0 auto;
	position:relative;  
}

#profile {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#profile input[type="text"], #profile input[type="email"], #profile input[type="tel"], #profile input[type="url"], #profile button[type="submit"]

#profile h3 {
	color: #1F1F1F;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#profile h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#profile input[type="text"], #profile input[type="email"], #profile input[type="tel"], #profile input[type="url"] {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#profile input[type="text"]:hover, #profile input[type="email"]:hover, #profile input[type="tel"]:hover, #profile input[type="url"]{
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}


#profile button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#E20C0C;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#profile button[type="submit"]:hover {
	background:#a80000;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#profile button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#profile input:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#1F1F1F;
}
:-moz-placeholder {
 color:#1F1F1F;
}
::-moz-placeholder {
 color:#1F1F1F;
}
:-ms-input-placeholder {
 color:#1F1F1F;
}